@mixin animation($name, $prop, $value) {
    @if $prop == TX {
        @keyframes #{$name} {
            from {
                transform: translateX($value);
            }
            to {
                transform: none;
            }
        }
    }

    @else if $prop == TY {
        @keyframes #{$name} {
            from {
                transform: translateY($value);
            }
            to {
                transform: none;
            }
        }
    }

    @else if $prop == O {
        @keyframes #{$name} {
            from {
                opacity: 0;
            }
            to {
                opacity: $value;
            }
        }
    }

    @else if $prop == C {
        @keyframes #{$name} {
            from {
                color: transparent;
            }
            to {
                color: $value;
            }
        }
    }
}

@include animation(header, TY, -15px);
@include animation(opacity, O, 1);
@include animation(color, C, var(--yellow));

@keyframes arrival-right {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    60% {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes arrival-left {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    60% {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}