@keyframes header {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: none;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes color {
    from {
        color: transparent;
    }
    to {
        color: var(--yellow);
    }
}

@keyframes shade {
    from {
        background-color: var(--lighter-black);
    }
    to {
        background-color: var(--black);
    }
}

@keyframes arrival-right {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    60% {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes arrival-left {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    60% {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}