#contact {

    .container {
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;

        article {
            &:hover {
                .iconify {
                    transform: scale(120%);
                }
            }

            .iconify {
                font-size: 2em;
                transition: transform .3s;
            }

            a {
                text-decoration: underline;
                color: var(--yellow);

                &:hover {
                    color: var(--bright-yellow);
                }
            }
        }
    }


}