footer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  background: linear-gradient(transparent, var(--footer));

  a {
    color: var(--yellow);
    text-decoration: underline;
    
    &:hover {
      color: var(--bright-yellow);
    }
  }
}