@use 'variables';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background: var(--navbar);

    @media (max-width: variables.$breakpoint-medium) {
        background: var(--nav-hover);
    }

    .nav-btn {
        font-size: 1.4em;
        padding: .5em 2em;
        cursor: pointer;
        
        &:hover {
            color: var(--bright-yellow);
            transition: all 0.2s ease-in-out;
        }
    }

    .home-btn {
        font-family: "Rancho";
        font-size: 2em;
    }

    .navmenu {
        display: flex;
        align-items: center;

        @media (max-width: variables.$breakpoint-medium) {
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 100%;
            background: var(--nav-hover);
            transform: translateX(-100%);
            transition: transform .5s;
            border-end-end-radius: 1em;
        }
    
        .content-btn {
            // height: max-content;
            margin: .2em;
            border-radius: .5em;
            user-select: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    
        .active {
            background: var(--nav-hover);
            color: var(--bright-yellow);
            text-decoration: none;
            cursor: default;
            pointer-events: none;

            @media (max-width: variables.$breakpoint-medium) {
                font-weight: bold;
                background: none;
            }
        }
    }

    .hamburger {
        z-index: 2;
        font-size: 3em;
        margin-right: .3em;
        cursor: pointer;
        padding: 0;
        display: none;
        max-width: 1em;

        &:active {
            color: var(--bright-yellow);
            background: var(--transparent-grey);
            border-radius: 25%;
        }

        @media (max-width: variables.$breakpoint-medium) {
            width: 99%;
            display: block;
        }

        .iconify {
            display: flex;
            align-items: center;
        }
    }
}

.blocker {
    @media (max-width: variables.$breakpoint-medium) {
        height: 100vh;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: var(--transparent-white);
        transform: translateX(-100%);
        transition: transform .5s;
    }
}