.projects {

    .projects-container {
        display: flex;
        justify-content: flex-start;
        min-height: 70vh;

        .projects-list {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .project {
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 2px 0;
                padding: 2em;
                border: solid 1px #fff;
                border-radius: 20px 0 0 20px;
                width: 400px;
                user-select: none;

                .title {
                    cursor: pointer;
                    transform: translateY(15px);
                    transition: transform 0.5s ease-out, color 0.5s ease-out;
                }

                p {
                    font-size: .7em;
                    text-align: center;
                    color: #ccc !important;
                    opacity: 0;
                    transition: opacity 0.5s ease-out;
                }

                &:hover, .active {
                    .title {
                        transform: translateY(0);
                    }

                    p {
                        display: block;
                        opacity: 1;
                    }
                }

                &:first-child {
                    margin-top: 0;
                    border-top: solid 1px #fff;
                }

                &:last-child {
                    margin-bottom: 0;
                    border-bottom: solid 1px #fff;
                }

                &:nth-child(2) {
                    .title {
                        font-family: "Fredericka the Great";
                        font-size: 2em;
                    }
                }

                &:nth-child(3) {
                    .title {
                        font-family: "Amarante";
                        font-size: 2em;
                    }
                }
            }

            .netfilmoteka {
                .white {
                    color: #fff !important;
                }
            }
            
            .active {
                margin: 0;
                border: none;
                background: linear-gradient(.25turn, transparent, #ccc2);
                color: var(--yellow);
                cursor: default !important;
                pointer-events: none;
                
                .title {
                    transform: translateY(0);
                }

                p {
                    opacity: 1;
                }
            }
        }

        .project-details {
            display: flex;
            width: 100%;
            background: #ccc2;
            border: solid 1px #fff;
            border-left: 0;
            border-radius: 0 20px 20px 0;

            .project-preview {
                min-width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding: 2em;

                img {
                    border-radius: 5px;
                }

                .btn {
                    border-radius: 10px;
                    text-align: center;
                    cursor: pointer;
                    padding: 10px;
                    margin: 10px 0;
                    font-size: 18px;
                }

                .filled-btn {
                    background: #db3;
                    color: #000;

                    &:hover {
                        background: #fd5;
                    }
                }

                .outlined-btn {
                    color: #db3;
                    border: 2px #db3 solid;

                    &:hover {
                        color: #fd5;
                        border-color: #fd5;
                        background: #fff1;
                    }
                  }                  
            }

            .project-desc {
                text-align: justify;
                padding: 2em;

                h3 {
                    text-align: center;
                }
            }
        }
    }
}