:root {
    --nav-hover: #222b;
    --navbar: #7779;
    --footer: #fff9;
    --transparent-grey: #fff1;
   
    --black: #000;
    --lighter-black: #111;
    --white: #eee;
    --light-grey: #ccc;
    --grey: #999c;
    --yellow: #db3;
    --bright-yellow: #fd5;
    --green: #9c2;
    --red: #f33;
}