@use 'style/reset';
@use 'style/variables';
@use 'style/animations';
@use 'style/navbar';
@use 'style/about';
@use 'style/projects';
@use 'style/contact';
@use 'style/footer';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rancho&family=Fredericka+the+Great&family=Amarante&display=swap');

body {
  display: flex;
  flex-direction: column;
  background: url(img/pw_maze_black.png); /* Background pattern from Toptal Subtle Patterns */
  font-family: "Poppins";
  color: var(--white);

  main {
    min-height: calc(100vh - 200px);
    max-width: 1440px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 7em 2em 2em 2em;
    
    h2 {
        margin-bottom: 1em;
        font-size: 2.5em;
        text-align: center;
        color: var(--yellow);
        cursor: default;
        animation: header .5s ease-out;
    }

    section {
      animation: opacity .5s ease-out;
    }
  }
}